In [1]:
# Configuration
import sys
import pandas as pd

from config import Config
with open('/data/blank54/workspace/project/navi/navi.cfg', 'r') as f:
    cfg = Config(f)

sys.path.append(cfg['root'])
from object import MyPath
mypath = MyPath()

In [3]:
pd.read_excel(mypath.activity_list)

   name  code
0    철거   100
1    마킹   110
2  칸막이A   120
3  칸막이B   130
4    방통   140

In [4]:
pd.read_excel(mypath.productivity_list)

   code  productivity
0   100             1
1   110             2
2   120             1
3   130             2
4   140             3