In [1]:
# Configuration
import json
import copy
import pickle as pk
import pandas as pd
from collections import defaultdict

import sys
sys.path.append('/data/blank54/workspace/project/navi/')
from object import Activity, Work, Project
from naviutil import NaviPath
navipath = NaviPath()

## NaviPath

In [12]:
pd.read_excel(navipath.activity_list)

   name  code
0    철거   100
1    마킹   110
2  칸막이A   120
3  칸막이B   130
4    방통   140

In [13]:
pd.read_excel(navipath.productivity_list)

   code  productivity
0   100             1
1   110             2
2   120             1
3   130             2
4   140             3

In [14]:
pd.read_excel(navipath.activity_sequence)

   seq_id precede follow
0       1      철거     마킹
1       2      마킹   칸막이A
2       3    칸막이A   칸막이B
3       4    칸막이B     방통
4       5      방통     천정
5       6      천정     바닥
6       7      바닥     도어
7       8      도어     가구
8       9      가구     가전

## Case 01

In [15]:
with open(navipath.activity2code, 'r', encoding='utf-8') as f:
    activity2code = json.load(f)
    
with open(navipath.activity2productivity, 'r', encoding='utf-8') as f:
    activity2productivity = json.load(f)

In [16]:
def assign_work_on_grid(case_data):
    current_grid = ''
    works = defaultdict(list)

    for idx, record in case_data.iterrows():
        if current_grid == record['grid']:
            day += 1
        else:
            current_grid = copy.deepcopy(record['grid'])
            day = 0

        name = record['activity_name']
        code = activity2code[record['activity_name']]
        productivity = activity2productivity[code]

        activity = Activity(code=code, name=name, productivity=productivity)
        works[current_grid].append(Work(grid=current_grid, activity=activity, day=day))
        
    return Project(works)

In [17]:
case_data = pd.read_excel(navipath.case_01)
project = assign_work_on_grid(case_data)

In [18]:
for work in project.works['A1']:
    print('[{}]: /// {:<5} /// at day {}'.format(work.grid, work.activity.name, work.day))

for work in project.works['A2']:
    print('[{}]: /// {:<5} /// at day {}'.format(work.grid, work.activity.name, work.day))

[A1]: /// 철거    /// at day 0
[A1]: /// 마킹    /// at day 1
[A1]: /// 칸막이A  /// at day 2
[A1]: /// 칸막이B  /// at day 3
[A1]: /// 방통    /// at day 4
[A2]: /// 철거    /// at day 0
[A2]: /// 칸막이A  /// at day 1
[A2]: /// 칸막이B  /// at day 2
[A2]: /// 방통    /// at day 3

## workday_adjustment

In [19]:
for w2 in project.works['A2']:
    for w1 in project.works['A1']:
        if w1.activity.name == w2.activity.name:            
            if w2.day < w1.day:
                w2.day = copy.deepcopy(w1.day)

In [21]:
for work in project.works['A2']:
    print('[{}]: /// {:<5} /// at day {}'.format(work.grid, work.activity.name, work.day))

[A2]: /// 철거    /// at day 0
[A2]: /// 칸막이A  /// at day 2
[A2]: /// 칸막이B  /// at day 3
[A2]: /// 방통    /// at day 4

## Activity Sequence

In [15]:
class Activity:
    def __init__(self, code, name, productivity):
        self.code = code
        self.name = name
        self.productivity = productivity
        
        self.precedes = []
        self.follows = []

    def __str__(self):
        return self.name
    
    def add_precede(self, precede):
        self.precedes.append(precede)
        
    def add_follow(self, follow):
        self.follows.append(follow)

In [16]:
fpath_sequence = '/data/blank54/workspace/project/navi/template/activity_sequence.xlsx'
sequence_list = pd.read_excel(fpath_sequence)

In [17]:
with open(navipath.activity2code, 'r', encoding='utf-8') as f:
    activity2code = json.load(f)
    
with open(navipath.activity2productivity, 'r', encoding='utf-8') as f:
    activity2productivity = json.load(f)

In [18]:
def parse_activity(name):
    code = activity2code[name]
    productivity = activity2productivity[code]
    
    return name, code, productivity

In [19]:
activity_list = []
for name in activity2code.keys():
    name, code, productivity = parse_activity(name)
    activity_list.append(Activity(name=name, code=code, productivity=productivity))

In [21]:
for _, seq in sequence_list.iterrows():
    precede = [a for a in activity_list if a.name == seq['precede']][0]
    follow = [a for a in activity_list if a.name == seq['follow']][0]
    
    precede.add_follow(follow)
    follow.add_precede(precede)

In [28]:
activity_list[3].precedes[0].code

'120'

## Project.check_sequence_consistency()

In [27]:
## TODO: a kind of tree structure.